<style>
    .format{
        font-family: Trebuchet MS;
        color: #13A879;
    }
</style>

<div class="format">
<p>
  <strong>Commenter:</strong>
  <%= comment.commenter %>
</p>
 
<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>

</div>