<style>
    .format{
        font-family: Courier New;
        color: #4D0069;
    }
</style>
<div class="format">
  

<h1>Type your article</h1>
 
<%= render 'form' %>
 
<%= link_to 'Back', articles_path %>
  
</div>
