
<style>
    .format{
        font-family: Courier New;
        color: #244261;
    }
</style>
<div class="format">
    
<h1>Hello, Check out my blogs!</h1>
<%= link_to 'My Blog', controller: 'articles' %>

</div>
